.NavbarItems{
    display: flex;
    width: 100vw;
    height: 4vw;
    background-color:transparent;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.navbar-logo{
    float:left;
    font-family: 'Fredoka One';
    color: #ffff;
    font-size:2vw;
    margin-top: .5vw;
    margin-bottom: .5vw;
    margin-left: 3vw;
    padding: 0;
}
.nav-menu{
    width: 80vw;
    justify-content: end;
     margin-top: 1.2vw;
     margin-bottom: 1.2vw;
}
.menu-links{
    font-size: 1vw;
    font-family: 'Fredoka One';
    float: right;
    color: #fff;
    text-decoration: none;
    margin-right: 2.5vw;
    transition: 500ms;
}
.menu-links:hover{
    color: rgb(172, 172, 172);
    transition: 500ms;
}